{
    "name": "TravelHogan",
    "compiler": "component",
    "author": "tao.xu",
    "email": "tao.xu@qunar.com",
    "description": "旅行频道hogan模板引擎",
    "version": "0.0.1",
    "dependencies": {},
    "repository": "http://gitlab.corp.qunar.com/fed/travel_module/tree/master/TravelHogan",
    "export": []
}